## A.I Challenge

### Importing the dependencies

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
%matplotlib inline

### Pre-processing the data

In [10]:
df = pd.read_csv('220511_monatszahlenmonatszahlen2204_verkehrsunfaelle.csv')

df.head()

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2022,202201,NaN,16.0,NaN,NaN,NaN
1,Alkoholunfälle,insgesamt,2022,202202,NaN,14.0,NaN,NaN,NaN
2,Alkoholunfälle,insgesamt,2022,202203,NaN,24.0,NaN,NaN,NaN
3,Alkoholunfälle,insgesamt,2022,202204,NaN,16.0,NaN,NaN,NaN
4,Alkoholunfälle,insgesamt,2022,202205,NaN,24.0,NaN,NaN,NaN

In [11]:
# Dropping unimportant columns
df.drop(['VORJAHRESWERT', 'VERAEND_VORMONAT_PROZENT', 'VERAEND_VORJAHRESMONAT_PROZENT', 'ZWOELF_MONATE_MITTELWERT'], inplace= True, axis= 1)

# Dropping 2021 and 2022 rows
df = df[df.JAHR != 2022]
df = df[df.JAHR != 2021]

# Dropping month rows where the value = 'Summe
df = df[df.MONAT != 'Summe']

df

           MONATSZAHL             AUSPRAEGUNG  JAHR   MONAT   WERT
26     Alkoholunfälle               insgesamt  2020  202001   28.0
27     Alkoholunfälle               insgesamt  2020  202002   40.0
28     Alkoholunfälle               insgesamt  2020  202003   27.0
29     Alkoholunfälle               insgesamt  2020  202004   26.0
30     Alkoholunfälle               insgesamt  2020  202005   40.0
...               ...                     ...   ...     ...    ...
2081  Verkehrsunfälle  Verletzte und Getötete  2000  200008  647.0
2082  Verkehrsunfälle  Verletzte und Getötete  2000  200009  675.0
2083  Verkehrsunfälle  Verletzte und Getötete  2000  200010  615.0
2084  Verkehrsunfälle  Verletzte und Getötete  2000  200011  578.0
2085  Verkehrsunfälle  Verletzte und Getötete  2000  200012  515.0

[1764 rows x 5 columns]

In [12]:
# Checking for missing values
df.isnull().sum()

MONATSZAHL     0
AUSPRAEGUNG    0
JAHR           0
MONAT          0
WERT           0
dtype: int64

In [13]:
# Resetting all the indexs
df = df.reset_index()
df.head()
df.drop('index', inplace= True, axis= 1)
df.head()

       MONATSZAHL AUSPRAEGUNG  JAHR   MONAT  WERT
0  Alkoholunfälle   insgesamt  2020  202001  28.0
1  Alkoholunfälle   insgesamt  2020  202002  40.0
2  Alkoholunfälle   insgesamt  2020  202003  27.0
3  Alkoholunfälle   insgesamt  2020  202004  26.0
4  Alkoholunfälle   insgesamt  2020  202005  40.0

In [15]:
# A function to reformat the monat column
def fix_monat_column():
    for index, value in enumerate(df['MONAT']):
        value = list(value)
        value = value[-2:]
        new_value = ''.join(map(str, value))
        df['MONAT'][index] = new_value

fix_monat_column()
df.head()

C:\Users\PC\AppData\Local\Temp\ipykernel_7672\3214657416.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MONAT'][index] = new_value

       MONATSZAHL AUSPRAEGUNG  JAHR MONAT  WERT
0  Alkoholunfälle   insgesamt  2020    01  28.0
1  Alkoholunfälle   insgesamt  2020    02  40.0
2  Alkoholunfälle   insgesamt  2020    03  27.0
3  Alkoholunfälle   insgesamt  2020    04  26.0
4  Alkoholunfälle   insgesamt  2020    05  40.0

### Displaying the data